@charset "UTF-8";

/*noinspection CssUnknownTarget,CssOverwrittenProperties*/
:root {
    --MainColor: rgb(240,144,141);
    --MainColorPrimary: rgb(255,188,188);
    --BackgroundImage: url("./background.png");
}

html,body {
    height: 100% !important;
}

body {
    background-color: #3e3e3e;
    background-image: var(--BackgroundImage);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: sans-serif, system-ui !important;
}
* {
    transition: all ease .45s;
}

aside.el-aside * {
    transition: all ease 0.1s !important;
}
aside.el-aside {
    padding: 10px 0 0 0;
    width: 70px !important;
}
.chat-group {
    margin-top: 10px;
    padding: 0 5px 0 5px;
}
.chat-group > a > div {
    border-radius: 10px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-group > a > div:hover, .chat-group > a > div.selected {
    background-color: #272727;
    transform: scale(1.05);
}
.chat-group > a > div, .chat-group > a > div.selected {
    transition: all ease-in-out 0.3s;
}

/*SMS Code Auth*/
.el-drawer.btt {
    background-color: #1f1f1f;
    color: #f8f8ff;
}
.el-drawer.btt > .el-drawer__body > center[data-v-19244df7] {
    margin: 20px 0;
}
.el-drawer.btt > .el-drawer__body {
    padding: 0 20px;
}

.el-radio-button__orig-radio:disabled+.el-radio-button__inner {
    background-color: #232323;
    border-color: #303030;
}
.el-radio-button__orig-radio:disabled:checked+.el-radio-button__inner {
    background-color: #232323;
}

/*Buttons Hover Color*/
/*noinspection SpellCheckingInspection*/
.el-dialog__headerbtn:focus .el-dialog__close {
    color: var(--MainColor) !important;
}
/*noinspection SpellCheckingInspection*/
.el-dialog__headerbtn:hover .el-dialog__close {
    color: var(--MainColor) !important;
}
span.el-icon-refresh-right:hover {
    color: var(--MainColor) !important;
}
.el-radio-button__inner:hover {
    color: var(--MainColor) !important;
}
/*noinspection SpellCheckingInspection*/
.el-dialog__headerbtn.el-dialog__close {
    color: var(--MainColor) !important;
}
.el-tabs__item.is-active {
    color: var(--MainColor) !important;
}
.el-tabs__item:hover {
    color: var(--MainColor) !important;
}

.contacts-head-container {
    background: none;
}
span.el-icon-refresh-right {
    color: #ffffff
}
div.panel.rooms-panel {
    backdrop-filter: blur(15px);
}
div.panel.rooms-panel > div.root > div.head {
    border-radius: 50px;
    padding: 0 10px 0 4px;
}
.vac-card-window .pace-activity {
    border-top-color: var(--MainColor);
    border-left-color: var(--MainColor);
    bottom: 70px;
    right: 16px;
}

div.el-dialog__wrapper {
    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
}
div.el-dialog__wrapper.dialog div.el-dialog {
    background: rgb(0,0,0);
}
.el-dialog {
    backdrop-filter: blur(15px);
    width: 30%;
    height: fit-content;
    margin: 0 !important;
    min-width: 50%;
}


.el-dialog__header {
    background-color: rgba(239,239,239,.55);
}
div.el-dialog__wrapper.dialog .el-dialog__header {
    background-color: rgba(0,0,0);
}


.el-tabs__active-bar {
    background-color: var(--MainColor);
}
.el-collapse {
    border: none;
}


div#login {
    background-image: none !important;
    height: auto !important;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,.35);
    min-height: 100%;
}
form.login-box {
    color: #ffffff;
    padding: 20px 30px;
    text-align: center;
    margin: 0;
}

form.login-box > div.el-form-item .el-form-item__label {
    color: #ffffff !important;
}
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: var(--MainColor);
    border-color: var(--MainColor);
}
.el-radio-button__orig-radio:checked + .el-radio-button__inner:hover {
    color: #ffffff !important;
}
.el-radio-button__inner {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #1f1f1f;
    color: #ffffff;
    border-color: #1f1f1f;
}
.el-input__inner {
    background-color: #232323 !important;
    border-color: #232323 !important;
    color: #ffffff !important;
    border-radius: 25px;
    padding: 20px;
}
.el-radio-button:first-child .el-radio-button__inner {
    border-left: none;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: var(--MainColor)
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.el-switch__core {
    border: 1px solid #232323;
    background: #232323;
}
.el-switch.is-checked .el-switch__core {
    background-color: var(--MainColor);
    border-color: var(--MainColor);
}
.el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
    border-color: var(--MainColorPrimary);
    background-color: var(--MainColorPrimary);
    color: #000000;
}

/*noinspection SpellCheckingInspection*/
div.el-form-item.nobottmar.is-no-asterisk[data-v-19244df7] > div.el-form-item__content {
    display: inline-flex;
    align-items: center;
}
/*noinspection SpellCheckingInspection*/
div.el-form-item.nobottmar.is-no-asterisk[data-v-19244df7] > div.el-form-item__content > span.el-form-item__label {
    padding: 0;
}

.el-select-dropdown {
    background-color: #232323;
    border: none;
}
.el-select-dropdown__item {
    color: #f8f8ff;
}
.selected {
    color: var(--MainColor)!important;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #F5F7FA;
    color: #606266;
}



.el-popper[x-placement^=bottom] .popper__arrow,
.el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #232323;
}


div.vac-container-scroll {
    padding-top: 55px;
}

div#app > div[data-v-0f8ddd0e] {
    /*驗證消息*/
    background-color: rgba(0,0,0,.45);
    border-radius: 20px;
    width: 85%;
    margin: 35px auto 0;
    color: #ffffff;
    backdrop-filter: blur(10px);
}

div#pane-groups.el-tab-pane>div {
    margin-top: 10px;
}

div.el-collapse-item__header,
div.el-collapse-item,
div#pane-groups.el-tab-pane>div>div.contact-entry-root,
div.groupmember-content > div {
    transition: all ease .35s;
    border-radius: 20px;
}
div.el-collapse-item,
div.groupmember-content > div {
    overflow: hidden;
    margin-top: 10px;
}
div.el-collapse-item:hover,
div#pane-groups.el-tab-pane>div>div.contact-entry-root:hover,
div.groupmember-content > div:hover {
    transform: translateY(-3px);
    background-color: #232323;
}
.el-collapse-item__content {
    background-color: #303030;
}
div.el-collapse-item.is-active {
    transform:none !important;
}
div.el-collapse-item__header.is-active {
    background-color: #303030;
    border-radius: 35px 35px 0 0;
}
.contact-entry-root:hover {
    background-color: transparent;
}

.contacts-content {
    overflow-y: scroll;
}
.el-popover {
    border: none;
    transform-origin: left center;
    z-index: 2055;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
}
.el-popover .el-popover__title {
    color: #ffffff;
}
.el-popover.el-popper .popper__arrow {
    display: none;
}

div[data-v-194abe54] {/*轉發的訊息*/
    margin: 0 !important;
    border-radius: 0 !important;
    height: 100vh !important;
    overflow: auto !important;
}

.el-button {
    background: var(--MainColor);
    border-color: var(--MainColor);
    color: #f8f8ff;
    border-radius: 25px;
}
.el-button:hover,
.el-button.el-button--primary.is-active
.el-button.is-active {
    background-color: var(--MainColorPrimary);
    border-color: var(--MainColorPrimary);
    color: #ffffff;
}

/* animation fix */
.vac-bounce-leave-active.vac-bounce-leave-to {
    animation: vac-bounce-in .3s reverse;
    transform: scale(0);
}

.dialog-fade-leave-active {
    animation: dialog-fade-out .3s;
    opacity: 0;
}

.el-message {
    filter: opacity(0.3);
}
.el-message.el-message--error {
    /*block error msg*/
     display: none;
}
.vac-badge-counter {
    border-radius: 15px;
}


.el-input--prefix .el-input__inner { /*Search*/
    border-radius: 25px;
}

.el-icon-user:before {
    color: #ffffff;
}
.content a .root:hover {
    transform:translateY(-3px) !important;
}
.content a .root {
    transition: all ease 0.3s;
    border-radius: 55px;
    padding: 0 20px 0 8px;
}
.panel.rooms-panel > .root {
    height: 100%;
    margin-bottom: 10px;
}
div.entry[data-v-7bdba32c] {
    padding: 6px 0;
}
.vac-textarea {
    transition: padding-left 0.45s ease 0s !important;
    border-radius: 25px;
    color: #ffffff;
    background-color: #232323;
    caret-color: #ffffff;
}

.title a.selected[data-v-1d0d9516]{
    transition: none;
}

div[data-v-6d975e7c].category.active .svg svg,div[data-v-6d975e7c].category:hover .svg svg {
    fill: #ffffff;
}
div[data-v-6d975e7c].category.active .svg svg {
    transition: all ease 0.25s;
}

.vac-col-messages {
    backdrop-filter: blur(15px);
}

.vac-card-info {
    border-radius: 45px !important;
    padding: 10px !important;
}

.vac-message-card.vac-message-current {
    color: #ffffff; /*自己的消息*/
}
.vac-message-card.vac-message-current .vac-text-timestamp {
    color: #efefef;
}
.grid > div {
    background-color: rgba(0,0,0,0)
}
.vac-message-deleted {
    background: #44444485 !important;
}

.container-search input {
    border: none;
    border-radius: 20px;
}

div.head { /*表情面板*/
    height: 35px;
    min-height: 35px;
    padding: 0 0;
    background-color: var(--panel-header-bg);
}


div.el-main.layout-v > div.panel.panel-right {
    padding-bottom: 20px;
}

.bg { /*表情面板*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    margin: 10px 10px 10px 0;
    padding: 10px;
    backdrop-filter: blur(15px);
    height: 100% !important;
    box-sizing: border-box;
}
.bg .head {
    background-color: rgba(0,0,0,0) !important;
}

div.bg > div > div > div {
    background-color: rgba(0,0,0,0) !important;
}

div.stickers_dir {
    display: none !important;
}

.el-message--success {
    background-color: #f0f9ebdb;
}

.el-message {
    min-width: auto;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}

.panel-right {
    background: rgba(0,0,0,0)!important;
    border: none!important;
}

.root {
    border-radius: 10px;
    margin: 5px;
}

.selected {
    box-shadow: 0 0 10px rgba(0,0,0,0.1)!important;
}



.entry {
    border: none!important;
}

/*.head {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

}*/

.content {
    padding-right: 10px;
}
.root {
    border: none!important;
}

.root[data-v-7bdba32c] {
    padding-left: 10px;
    padding-right: 10px;
}

::-webkit-scrollbar-thumb { /*滚动条*/
    background-color: #99999952 !important;
}

::-webkit-scrollbar-thumb:hover { /*滚动条*/
    background-color: #ffffff52 !important;
}

/*noinspection SpellCheckingInspection*/
.el-main.multipane.layout-v {
    margin: 0!important;
    overflow: hidden;
}

.vac-room-header.vac-app-border-b { /*对话名显示*/
    position: absolute;
    top: 0;
    height: 69px;
    backdrop-filter: blur(10px);
    left: 0;
    background-color: #000000ad;
}

.vac-container-scroll {
    margin-top: 0;
    padding-bottom: 80px;
}

div.vac-card-window {
    margin: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    min-height: auto;
    background: rgba(0,0,0,0.55);
}

.el-dialog {
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.v-modal {
    display: none;
}

.vac-message-current *{
    --chat-message-color-timestamp: #ffffffe0!important;
}

.panel.rooms-panel {
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    overflow: hidden;
}
.panel.rooms-panel.avatar-only {
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    overflow: hidden;
}

.panel.rooms-panel.avatar-only > .root > .head {
    display: none;
}
.panel.rooms-panel.avatar-only > .root {
    margin-top: 0;
}

.panel.rooms-panel.avatar-only > div.root > div.head {
    align-items: center;
    justify-content: center;
    background: none;
}
.el-aside .head .el-avatar.el-avatar--circle {
    border-width: 6px;
    border-color: var(--MainColor);
    border-style: solid;
    box-sizing: content-box;
}

.el-aside .head { /*左上角头像和搜索*/
    background-color: rgba(0,0,0,0);
    margin-bottom: 5px;
}

.panel.rooms-panel.avatar-only .content a .root {
    width: 0;
    border-radius: 0 25px 25px 0;
}
.panel.rooms-panel.avatar-only div.entry > div.right {
    display: block;
}
.panel.rooms-panel.avatar-only div.entry > div.right > .flex.l1,
.panel.rooms-panel.avatar-only div.entry > div.right > .flex > .desc {
    display: none;
}
.panel.rooms-panel.avatar-only div.entry > div.right > .flex .el-badge {
    display: block;
    position: absolute;
    top: 40px;
    right: -30px;
}

.el-badge__content.is-fixed {
    right: 15px;
}

.vac-room-footer {
    position: absolute;
    backdrop-filter: blur(5px);
    bottom: 0;
}

.vac-message-current * {
    --chat-message-color-timestamp: #878787!important;
}

.getting-history {
    visibility: hidden;
}

.vac-icon-last-message, .vac-icon-scroll {
    background-color: #232323
}

.vac-icon-last-message {
    top: 75px;
    right: 5px;
}
.vac-icon-scroll {
    right: 10px;
    margin-bottom: -5px;
}
.vac-icon-scroll svg path, .vac-icon-last-message svg path {
    fill: #ffffff !important;
}

div.entry[data-v-7bdba32c]{
    padding: 9px 0;
}

.el-dialog__body {
    padding: 0 20px 20px 20px;
}

.groupmember-head-container {
    padding-bottom: 15px;
    background-color: transparent;
}

.vac-container-scroll {
    background: none;
    margin-right: 8px;
    margin-left: 8px;
}

div.icalingua-theme-holder {
    --chat-message-color-timestamp: #9a9a9a                     !important; /*发送时间*/
    --chat-message-bg-color-selected: var(--MainColorPrimary)   !important;
    --chat-bg-color-input: #fffffff0                            !important;
    --chat-footer-bg-color: #000000ad                           !important;
    --chat-message-bg-color: rgba(0,0,0,.75)                    !important;
    --chat-message-bg-color-me: var(--MainColor)                !important;
    --chat-header-bg-color: rgba(0,0,0,.75)                     !important;
    --panel-header-bg: var(--MainColor)                         !important;
    --panel-item-bg-hover: #d5dce54a                            !important;
    --panel-item-bg: rgba(255,255,255,0.25)                     !important;
    --chat-content-bg-color: rgba(0,0,0,.45)                    !important;
    --panel-background: rgba(0,0,0,.45)                         !important;
    --chat-message-bg-color-reply: rgb(0 0 0 / 3%)              !important;
    --chat-message-bg-color-deleted: #dadfe285                  !important;
    --ep-color-active: var(--MainColor)                         !important;
    --panel-color-sticker-type-selected: var(--MainColor)       !important;
    --panel-color-sticker-type-hover: var(--MainColor)          !important;
    --chat-icon-color-dropdown-scroll: #ffffff                  !important;
    --chat-message-bg-color-scroll-counter: var(--MainColor)    !important;
}
