@charset "UTF-8";

/*noinspection CssUnknownTarget,CssOverwrittenProperties*/
:root {
    --MainColor: rgb(240,144,141);
    --MainColorPrimary: rgb(255,188,188);
    --BackgroundImage: url("./background.png");
    --BackgroundImage: url("file:///home/koto/Pictures/Fd5AsVkVUAA8lds.jpeg");
}

html,body {
    height: 100% !important;
}

body {
    background-color: #3e3e3e;
    background-image: var(--BackgroundImage);
    background-size: cover;
    background-position: center top;
}

/*noinspection SpellCheckingInspection*/
.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
    color: var(--MainColor)
}

.contacts-head-container {
    background: none;
}
.contacts-head-container div.contacts-head span.el-icon-refresh-right.contacts-refresh {
    color: #ffffff
}
span.el-icon-refresh-right:hover {
    color: var(--MainColor);
}
div[data-v-cac5798a].panel.rooms-panel {
    backdrop-filter: blur(15px);
}

div.el-dialog__wrapper {
    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
}
div.el-dialog__wrapper.dialog div.el-dialog {
    background: rgb(0,0,0);
}
.el-dialog {
    backdrop-filter: blur(15px);
    width: 30%;
    height: fit-content;
    margin: 0 !important;
    min-width: 50%;
}


.el-dialog__header {
    background-color: rgba(239,239,239,.55);
}
div.el-dialog__wrapper.dialog .el-dialog__header {
    background-color: rgba(0,0,0);
}


.el-tabs__item.is-active, div.el-tabs__item.is-top:hover {
    color: var(--MainColor);
}
.el-tabs__active-bar {
    background-color: var(--MainColor);
}
.el-collapse {
    border: none;
}
/*noinspection SpellCheckingInspection*/
i.el-dialog__headerbtn.el-dialog__close {
    color: var(--MainColor);
}


div#login[data-v-19244df7] {
    background-image: none;
}
form.login-box[data-v-19244df7] {
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,.35);
    color: #ffffff;
    padding: 20px 30px;
    text-align: center;
    margin: 0;
}

form.login-box[data-v-19244df7] > div.el-form-item .el-form-item__label {
    color: #ffffff !important;
}
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: var(--MainColor);
    border-color: var(--MainColor);
}
.el-radio-button__inner:hover {
    color: var(--MainColor);
}
.el-radio-button__inner {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #1f1f1f;
    color: #ffffff;
    border-color: #1f1f1f;
}
.el-input__inner {
    background-color: #232323 !important;
    border-color: #232323 !important;
    color: #ffffff !important;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: var(--MainColor)
}
.el-switch.is-checked .el-switch__core {
    background-color: var(--MainColor);
    border-color: var(--MainColor);
}
.el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
    border-color: var(--MainColorPrimary);
    background-color: var(--MainColorPrimary);
    color: #000000;
}

/*noinspection SpellCheckingInspection*/
div.el-form-item.nobottmar.is-no-asterisk[data-v-19244df7] > div.el-form-item__content {
    display: inline-flex;
    align-items: center;
}
/*noinspection SpellCheckingInspection*/
div.el-form-item.nobottmar.is-no-asterisk[data-v-19244df7] > div.el-form-item__content > span.el-form-item__label {
    padding: 0;
}



div.vac-container-scroll {
    padding-top: 55px;
}

div[data-v-0f8ddd0e] {
    /*驗證消息*/
    background-color: rgba(0,0,0,.45);
    border-radius: 20px;
    width: 85%;
    margin: 35px auto 0;
    color: #ffffff;
    backdrop-filter: blur(10px);
}

div#pane-groups.el-tab-pane>div>div.contact-entry-root:hover {
    transform:translateY(-3px) !important;
}
div#pane-groups.el-tab-pane>div>div.contact-entry-root {
    transition: all ease .35s;
    border-radius: 35px;
}
div#pane-groups.el-tab-pane>div {
    margin-top: 10px;
}

div.el-collapse-item__header,div.el-collapse-item {
    transition: all ease .35s;
    border-radius: 25px;
}
div.el-collapse-item {
    overflow: hidden;
    margin-top: 10px;
}
div.el-collapse-item:hover {
    transform: translateY(-3px);
    background-color: rgba(255,255,255,.35);
}
div.el-collapse-item__header.is-active {
    transform:none !important;
    background-color: rgba(255,255,255,.45);
    border-radius: 25px 25px 0 0;
}
.contacts-content {
    overflow-y: scroll;
}
.el-popover {
    border: none;
    transform-origin: left center;
    z-index: 2055;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
}
.el-popover .el-popover__title {
    color: #ffffff;
}
.el-popover.el-popper .popper__arrow {
    display: none;
}

div[data-v-194abe54] {/*轉發的訊息*/
    margin-top: 0!important;
}

.el-button {
    background: var(--MainColor);
    border-color: var(--MainColor);
}
.el-button:hover {
    background-color: var(--MainColorPrimary);
    border-color: var(--MainColorPrimary);
    color: #ffffff;
}

*{
    transition: all ease .45s;
    --chat-message-color-timestamp: #9a9a9a; /*发送时间*/
    --chat-message-bg-color-selected: var(--MainColorPrimary);
    --chat-bg-color-input: #fffffff0;
    --chat-footer-bg-color: #000000ad;
    --chat-message-bg-color: rgba(0,0,0,.75);
    --chat-message-bg-color-me: var(--MainColor);
    --chat-header-bg-color: rgba(0,0,0,.75);
    font-family: sans-serif, system-ui !important;
    --panel-header-bg: var(--MainColor);
    --panel-item-bg-hover: #d5dce54a;
    --panel-item-bg: rgba(255,255,255,0.25);
    --chat-content-bg-color: rgba(0,0,0,.45)!important;
    --panel-background: rgba(0,0,0,.45)!important;
    --chat-message-bg-color-reply: rgb(0 0 0 / 3%);
    --chat-message-bg-color-deleted: #dadfe285;
    --ep-color-active: var(--MainColor) !important;
    --panel-color-sticker-type-selected: var(--MainColor) !important;
    --panel-color-sticker-type-hover: var(--MainColor) !important;
    --chat-icon-color-dropdown-scroll: #ffffff !important;
    --chat-message-bg-color-scroll-counter: var(--MainColor) !important;
}

.el-message {
    filter: opacity(0.3);
}
.el-message.el-message--error {
    /*block error msg*/
     display: none;
}
.vac-badge-counter {
    border-radius: 15px;
}

.head[data-v-0239dd47] { /*左上角头像和搜索*/
    border-radius: 50px;
    margin-bottom: 5px;
}

.el-input--prefix .el-input__inner { /*Search*/
    border-radius: 25px;
}

.el-icon-user:before {
    color: #ffffff;
}
.content a .root:hover {
    transform:translateY(-3px) !important;
}
.content a .root {
    transition: all ease 0.3s;
    border-radius: 55px;
    padding-right: 15px;
}
.root[data-v-0239dd47] {
    height: 100%;
    margin-bottom: 10px;
}
div.entry[data-v-7bdba32c] {
    padding: 6px 0;
}
.vac-textarea {
    border-radius: 25px;
    color: #232323;
    background-color: #2a2a2a;
    caret-color: #ffffff;
}

.title a.selected[data-v-1d0d9516]{
    transition: none;
}

div[data-v-6d975e7c].category.active .svg svg,div[data-v-6d975e7c].category:hover .svg svg {
    fill: #ffffff;
}
div[data-v-6d975e7c].category.active .svg svg {
    transition: all ease 0.25s;
}

.vac-col-messages {
    backdrop-filter: blur(15px);
}

.vac-card-info[data-v-7e38bde8] {
    border-radius: 45px;
    padding: 10px;
}

.vac-message-card.vac-message-current {
    color: #ffffff; /*自己的消息*/
}
.vac-message-card.vac-message-current .vac-text-timestamp {
    color: #efefef;
}
.grid>div[data-v-1d0d9516] {
    background-color: rgba(0,0,0,0)
}
.vac-message-deleted[data-v-7e38bde8] {
    background: #44444485 !important;
}

.container-search input[data-v-839ecda0] {
    border: none;
    border-radius: 20px;
}

div.head[data-v-1d0d9516] { /*表情面板*/
    height: 35px;
    min-height: 35px;
    padding: 0 0;
    background-color: var(--panel-header-bg);
}


div.el-main.layout-v > div[data-v-cac5798a].panel.panel-right {
    padding-bottom: 20px;
}

.bg[data-v-1d0d9516] { /*表情面板*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    margin: 10px 10px 10px 0;
    padding: 10px;
    backdrop-filter: blur(15px);
    height: 100%;
    box-sizing: border-box;
}
.bg[data-v-1d0d9516] .head {
    background-color: rgba(0,0,0,0) !important;
}
div.stickers_dir[data-v-1d0d9516] {
    display: none;
}

.el-message--success {
    background-color: #f0f9ebdb;
}

.el-message {
    min-width: auto;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}

.panel-right {
    background: rgba(0,0,0,0)!important;
    border: none!important;
}

.icalingua-theme-holder {
    background: rgba(0,0,0,0)!important;
}

.root {
    border-radius: 10px;
    margin: 5px;
}

.selected {
    box-shadow: 0 0 10px rgba(0,0,0,0.1)!important;
}



.entry {
    border: none!important;
}

/*.head {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

}*/

.content {
    padding-right: 10px;
}
.root {
    border: none!important;
}

.root[data-v-7bdba32c] {
    padding-left: 10px;
    padding-right: 10px;
}

::-webkit-scrollbar-thumb { /*滚动条*/
    background-color: #99999952 !important;
}

::-webkit-scrollbar-thumb:hover { /*滚动条*/
    background-color: #ffffff52 !important;
}

/*noinspection SpellCheckingInspection*/
.el-main.multipane.layout-v {
    margin: 0!important;
    overflow: hidden;
}

.vac-room-header.vac-app-border-b { /*对话名显示*/
    position: absolute;
    top: 0;
    height: 69px;
    backdrop-filter: blur(10px);
    left: 0;
    background-color: #000000ad;
}

.vac-container-scroll {
    margin-top: 0;
    padding-bottom: 80px;
}

div[data-v-cac5798a].vac-card-window {
    margin: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    min-height: auto;
}

.el-dialog {
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.v-modal {
    display: none;
}

.vac-message-current *{
    --chat-message-color-timestamp: #ffffffe0!important;
}

.panel.rooms-panel {
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    overflow: hidden;
}
.panel.rooms-panel.avatar-only {
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    overflow: hidden;
}

.panel.rooms-panel.avatar-only > div.root > div.head[data-v-0239dd47] {
    align-items: center;
    justify-content: center;
    background: none;
}
.panel.rooms-panel.avatar-only > div.root > div.head[data-v-0239dd47] .el-avatar.el-avatar--circle {
    border-width: 10px;
    border-color: var(--MainColor);
    border-style: solid;
    box-sizing: content-box;
}

.panel.rooms-panel.avatar-only .content a .root {
    width: 0;
    border-radius: 0 25px 25px 0;
}
.panel.rooms-panel.avatar-only div.entry[data-v-7bdba32c] > div.right[data-v-7bdba32c] {
    display: block;
}
.panel.rooms-panel.avatar-only div.entry[data-v-7bdba32c] > div.right[data-v-7bdba32c] > .flex.l1,
.panel.rooms-panel.avatar-only div.entry[data-v-7bdba32c] > div.right[data-v-7bdba32c] > .flex > .desc {
    display: none;
}
.panel.rooms-panel.avatar-only div.entry[data-v-7bdba32c] > div.right[data-v-7bdba32c] > .flex .el-badge {
    display: block;
    position: absolute;
    top: 40px;
    right: -40px;
}

.el-badge__content.is-fixed {
    right: 15px;
}

.vac-room-footer {
    position: absolute;
    backdrop-filter: blur(5px);
    bottom: 0;
}

.vac-message-current * {
    --chat-message-color-timestamp: #878787!important;
}

.getting-history[data-v-cac5798a] {
    visibility: hidden;
}

.vac-icon-last-message, .vac-icon-scroll {
    background-color: #232323
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.vac-bounce-leave-active.vac-bounce-leave-to {
    animation: vac-bounce-in .3s reverse;
    transform: scale(0);
}

/*.dialog-fade-leave-active.dialog-fade-leave-to {
    animation: ZoomOut 0.45s ease;
    transform: translateY(00vh);
    opacity: 0;
}*/

/*@keyframes ZoomOut {
    000% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}*/
@keyframes fadeOut {
    000% {
        transform: translateY(-100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(90vh);
        opacity: 0;
    }
}

.vac-icon-last-message {
    top: 75px;
    right: 5px;
}
.vac-icon-scroll {
    right: 10px;
    margin-bottom: -5px;
}
.vac-icon-scroll svg path, .vac-icon-last-message svg path {
    fill: #ffffff !important;
}

div.entry[data-v-7bdba32c]{
    padding: 9px 0;
}

.el-dialog__body {
    padding: 0 20px 20px 20px;
}

.groupmember-head-container {
    padding-bottom: 15px;
    background-color: transparent;
}

.vac-container-scroll {
    background: none;
    margin-right: 8px;
    margin-left: 8px;
}
